<a href="https://colab.research.google.com/github/mukulSharma6230/mukul/blob/main/list%20in%20python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list1= [1,2,3]
print(list1)

[1, 2, 3]

In [3]:
list1 =[ x for x in range(5)]
print(list1)

[0, 1, 2, 3, 4]

In [4]:
r  =int(input("enter the number of rows"))
print(r)

enter the number of rows2
2

In [6]:
list3= [int (x) for x in input().split()]
print(list3)

1 2 3 4 5 6 7
[1, 2, 3, 4, 5, 6, 7]

In [9]:
list4 =[int(x)for x in input().split()]
print(list4)

1 2 3 4 5 6
[1, 2, 3, 4, 5, 6]

In [12]:
m = int(input("enter the number of rows"))
n = int(input("enter the number of rows"))
list5= [int(x)for x in input().split()]

a =[]
for i in range(m):
  a.append([])
  for j in range(n):
    a[i].append(list5[n*i+j])

print(a)

enter the number of rows2
enter the number of rows2
1 2 3 4
[[1, 2], [3, 4]]

In [14]:
list6= [1,2,3,4]
print(list6[2])

3